/* Global styles */
/* #region */
:root{
    /* BRAND COLORS */
    --brand-primary: #5ce0e6;   
    --brand-secondary: #f8bc06; 
    --brand-accent: #21a6c5;   

    /* NEUTRALS */
    --white: #fbf9f9;
    --black: #1a1a1a;
    --light-black:#0e0f0f;
    --gray-light: #cacaca;
    --gray-dark: #4e4e4e;

    /* TEXT COLORS */
    --text-heading-light: var(--white);
    --text-body-light: var(--gray-light);
    --text-heading-dark: var(--black);
    --text-body-dark: var(--gray-dark);

    /* UTILITY */
    --transparent: transparent;

    /* PADDING AND RADIUS */
    --x-small: 4px;
    --small: 12px;
    --medium: 16px;
    --large: 24px;
    --xl-large: 32px;
    --xxl-large: 40px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--white);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
}

p, li, a, span {
  font-family: 'Inter', sans-serif;
}

/* #endregion */

/* Navbar */
/* #region */
nav {
  background-color: var(--brand-primary);
  padding: var(--small) var(--medium);
  position: sticky;
  top: 0;
  z-index: 100;
  width: fit-content;
  margin: 8px auto;
  border-radius: var(--xxl-large);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 1rem;
}

nav a {
  color: var(--white);
  text-decoration: none;
}

nav a.logo {
  margin-right: 100px;
  font-family: 'Caveat', sans-serif;
}

/* #endregion */

/* Sections */
/* #region */
.hero-section {
  background-color: var(--transparent);
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;  
  align-items: center;      
  text-align: center;
}

.hero-section h1 {
  font-family: 'Caveat', sans-serif;
}

/* #endregion */